# Python
__pycache__/
*.py[cod]
*.pyo
venv/
myenv/
.env

# Databases
*.db
*.sqlite3

# Streamlit
.streamlit/

# Vector DB / RAG
tmp/

# Node/React
node_modules/
dist/
.DS_Store

# PDF (large file)
*.pdf
